.modal-window {

  display: none;
  pointer-events: none;
  height: 100vh;


}

.modal-window:target {
  display: flex;
  pointer-events: auto;
  justify-content: center;
}

.modal-window>div {
  width: 450px;
  border-radius: 0.3rem;
  align-self: center;
  padding: 1.4em;
  background: white;

}

header {
  font-weight: bold;
}

h1 {
  font-size: 150%;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  text-align: center;
  text-decoration: none;

}

.modal-close:hover {
  color: black;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
  line-height: 1.4;
}

body {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 600;
  background-image: linear-gradient(to left, #348f71 0, #e0be4f 100%);
  color: black;
}

hr {

  border-top: 1px solid #aaa;
}



button {
  border-radius: 0.3rem;
  border: none;
  padding: 0.5rem 1.2rem;
  font-weight: 600;
  font-size: 1rem;
  color: white;
}

.btns {
  display: flex;
  justify-content: flex-end;
  gap: 0.4rem;
}

.btn-close {

  background-color: #aaa;


}

.btn-save {
  background-color: #657ced;
}

a {
  text-decoration: none;
  color: inherit;
  display: flex;
}