:root {
    --main-color: #86E8B9;
    --lite-color: #dafdc8;
    --dark-color: #94FF97;
    --dark: #212227;
    --dark-white: #F2F6DF;
    --grey: #9E9E9E;
    --linear-gradient-background:linear-gradient(92.66deg, #FFFFFF -5.5%, #FAFAFA 47.66%, #FAFAFA 99.23%);
    --liner-gradient-body:linear-gradient(168.35deg, #E9EDF0 8.1%, #F2F6DF 91.46%);
    --body-grid:linear-gradient(#ffffff 1px, transparent 1px), linear-gradient(to right, #ffffff 1px, #e5e5f7 1px);
    --pointer:url(../img/pointer.svg), auto;
    --cursor: url(../img/cursor.svg), auto;

}

.page-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
    justify-content: space-between;
    
}
img:hover{
    cursor: var(--pointer);
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    cursor: inherit;



}
svg:hover, a:hover{
    cursor: var(--pointer);
}

a {
    color: inherit;
}

body {
    background: var(--liner-gradient-body);
    cursor: var(--cursor);
    position: relative;
    color: var(--dark);
    font-size: 14px;
    background-image:var(--body-grid);
    background-size: 25px 25px;
    min-height: 100vh;
   
}

nav {
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
}

button:hover,[type=submit] {
    background: var(--dark-color);
}

button,[type=submit] {

    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.5rem 1.2rem;
    border-radius: 0.5rem;
    background-color: var(--lite-color);
    border: 1px solid var(--dark);
    width: min-content;
    height: min-content;
    cursor:var(--pointer);
}
#addHashtagButton{
    position: absolute;
    top: 55%;
}
#hashtagsContainer{
    margin:1rem 0;
    display:flex;
    flex-wrap: wrap;
    gap:0.3rem;
}
#smallHashtagTemplate{

}
.name {
    font-size: 1.2rem;
    margin-right: 0.9rem;
}

header {
    width: 100%;
    background-color: var(--main-color);
    flex:0;
    z-index: 3;
   

}
main{
    
    
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    height: 100%;
    flex-grow: 2;
    margin-top: 2vh;
    
   
}
.show-filter{

}
footer {
    display: flex;
    background-color: var(--main-color);
    flex:0;
    padding: 0.5rem 0 1.2rem;
    width: 100%;
  
}
.twit-page.container {
    flex-direction: column;
    align-items: flex-start;
    max-height: 90%;
    flex-grow: 0;
    margin-top: 2vh;
    display: flex;
margin-left: 10rem;
margin-right: 10rem;
}

.comment-block {
    display: flex;
    width: 100%;
    
    padding-bottom: 2vh;
    max-height: 52vh;
    flex-grow: 0;
   
}
#twit_list
{
    overflow-y: auto;
    overflow-x: hidden;
}
.comment-list-wrapper {
    flex-grow: 0;
    overflow-y: scroll;
    /*max-height: 60vh;*/
    padding-right: 0.5rem;
    display: flex;
    flex-direction: column;
    width:100%;
   
}
.shadow {
    filter: drop-shadow(4px 4px 0 rgba(0, 0, 0, 0.25));
}

.big-shadow {
    filter: drop-shadow(8px 8px 0 rgba(0, 0, 0, 0.25));
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

header .container {
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 0;
}

.main.container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    max-height: 73vh;
}

.new-twit {
    border-radius: 1rem;
    background: var( --linear-gradient-background);
    padding: 0.8rem 1.2rem 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;

}

textarea {
    border-radius: 0.5rem;
    background: var(--dark-white);
    color: var(--grey);
    border: none;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 1rem 0.8rem;
    margin: 1rem 0;
    resize: none;
    min-height: 4vh;


}

.twit-list {
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    margin: 1.2rem 0.5rem 1rem;
    width: 95%;
}

.twit-list>button {
    align-self: center;
}

.twit-item {
    border-radius: 0.8rem;
    background: var( --linear-gradient-background);
    padding: 1.2rem 1.4rem 2.2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.1rem;
    position: relative;

}

.main-twit {
    border-radius: 0.8rem;
    background: var( --linear-gradient-background);
    padding: 1.2rem 1.4rem 1.2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.1rem;
    position: relative;
}

.twit-header {
    display: flex;
    justify-content: space-between;

}

.del {
    position: absolute;
    top: -10px;
    right: -10px;
    display: none;
    cursor: url(), auto;
}


.grey-text {
    color: var(--grey);
}

.text-small {
    font-size: 0.8rem;
}

.bold-text {
    font-weight: 500;
}

.border {
    border: 1px solid var(--dark);
}

.twit-footer {
    display: flex;
    justify-content: space-between;
}

.edit {
    display: flex;
    align-items: center;
    display: none;
    gap: 4px;
    cursor:var(--pointer);
}

.view .edit {
    display: flex;
}

.view .del {
    display: flex;
}



footer .container {
    justify-content: space-between;
    width: 100%;
    position: relative;

}

footer div {
    display: flex;
    align-items: flex-end;
    padding-top: 0.5rem;
    color: var(--dark-white);
}

.email {
    text-decoration: underline;
    font-style: italic;
    cursor: var(--pointer);

}

footer .logo {
    position: absolute;
    justify-content: center;
    width: 100%;
    top: -3px;
    display: none;
}

.cop {
    color: var(--dark-white) ;
}

.filter {
    display:flex;
    flex-direction: column;
    gap: 0.9rem;
    background-color: #ffffff;
    border-radius: 0.8rem;
    padding: 1vh 7vh 2.2vh 11vh;
    margin-bottom: 1.6rem;
    position:absolute;
    top:0;
    transition: top 0.5s ease-in-out;
    z-index: 3;
    left:0;
    right:0;
    margin-left: auto;

}

.filter-header {
    display: flex;
    justify-content: space-between;
  
}

.filter-body {
    display: flex;
    gap: 1vh;
    align-items: flex-end;
    flex-wrap: wrap;
}

[type=text],[type=date] {
    border-radius: 0.5rem;
    border: 1px solid var(--dark);
    padding: 0.5rem 0 0.5rem 0.7rem;
    font-size: 0.9rem;
}
select{

    width: 150px;
    height: 34px;
    border-radius: 0.5rem;
    border: 1px solid var(--dark);
    padding: 0.5rem 0 0.5rem 0.7rem;
    font-size: 0.9rem;
}
  
h3 {
    font-size: 1.2rem;
}

.hashtags {
    display: flex;
    gap: 0.8rem;
    flex-wrap: wrap;
}

.hashtag {
    background-color: var(--dark-color);
    border-radius: 3rem;
    padding-left: 0.8rem;
    padding-right: 0.2rem;
    width: min-content;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.hashtag span {
    font-size: 0.8rem;
    font-weight: 500;
    margin-right: 0.5rem;
    line-height: 1.5rem;
}

.date-block {
    display: flex;
    gap: 1vh;
    flex-wrap: wrap;

}

.filter-body .title {
    line-height: 2rem;
    padding-left: 0.4rem;

}

.filter-body div {
    position: relative;
}

.filter-body object {
    position: absolute;
    top: 55%;

}

.date-block [type=text] {
    padding-left: 2.4rem;
}

.calendar {
    left: 1rem;
}

.svg-bott {
    right: 0.6rem;
}

.comment-list {

    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    flex-grow: 2;

}



.comment-item {
    border-radius: 0.8rem;
    background: var( --linear-gradient-background);
    padding: 0.8rem 0.8rem 1.1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.2rem;
    position: relative;
}

.comment-header {
    display: flex;
    justify-content: space-between;

}


.comment-list-wrapper::-webkit-scrollbar {
    width: 1.2rem;
    margin-left: 2.2rem;

}

.comment-list-wrapper::-webkit-scrollbar-track {
    background: rgba(196, 196, 196, 0.4);
    border-radius: 1rem;
}

.comment-list-wrapper::-webkit-scrollbar-thumb {
    padding: 2.2rem;
    background: #94FF97;
    border-radius: 1.4rem;
    border: 1px solid var(--dark);

}
#twit_list::-webkit-scrollbar {
    width: 1.2rem;
    margin-left: 2.2rem;

}

#twit_list::-webkit-scrollbar-track {
    background: rgba(196, 196, 196, 0.4);
    border-radius: 1rem;
}

#twit_list::-webkit-scrollbar-thumb {
    padding: 2.2rem;
    background: #94FF97;
    border-radius: 1.4rem;
    border: 1px solid var(--dark);

}
.new-comm textarea {
    margin: 0.9rem 0;
    width: 100%;
}

.new-comm {
    border-radius: 0.8rem;
    background: var( --linear-gradient-background);
    padding: 0.8rem 1.6rem 0.8rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 180px;
  
    margin-left: 10px;
   

}
.containerTwitPage{
   max-width: 1140px;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
#loginInput,#passwordInput,#passwordInputConfirm{
    width: 70%;
    margin-bottom: 0.3rem;
}
#logForm,#regForm{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 100%;
}
.modal-class{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: white;
    padding: 1rem;
    z-index: 6;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1rem;
    width: 20vw;
    height: min-content;
    
}
.modal-class span{
    width:100%;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.confirm-buttons{
    display:flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 0.5rem;
}

.errorMessage{
    height: 0.7rem;
    margin-bottom: 0.3rem;
    font-size: 0.7rem;
    color: darkslategray;
}
input:invalid{
    border:2px solid var(--dark-color)
}
@media (max-width: 1200px) {
    .main.container{
        margin-left: 2vw;
    margin-right: 2vw;
    }
    .twit-page.container {
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .containerTwitPage{
        margin-left: 2vw;
        margin-right: 2vw;
    }

    header .container {
        margin-left: 2vw;
        margin-right: 2vw;
    }

    footer .container {
        margin-left: 2vw;
        margin-right: 2vw;
    }

    #page-container main {
        margin-left: 2vw;
        margin-right: 2vw;
       

    }
    .comment-block{
        max-height: 70vh;
    }

}

@media (max-width: 1024px) {
    .comment-block {
        flex-direction: column;
    }

    .new-comm {
        margin-left: 0;
    }

    .comment-list-wrapper {
        margin-bottom: 1vh;
    }
    .containerTwitPage{
        flex-direction: column-reverse;
    }

}

@media (max-width: 500px) {
    footer .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .ac>object {
        display: none;
    }

    .name {
        font-size: 0.8rem;
    }
}
.hash{
    background-color: var(--dark-color);
    border-radius: 1.6rem;
    padding: 0 0.4rem;
}
.modal{
    position: relative;
    left:0;
    right: 0;
    top:0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 0.8rem;
    background-color: white;
    align-items: center;
    padding: 2rem 2rem;
    width: 30vw;
    height: max-content;
    gap:0.3rem;
}
.modal> input
{
    width: 100%;
    height: 2.5rem;
}

.madal-title{
    font-size: 2rem;
    font-weight: 500;
}
.second-but
{
    background: transparent;
    border: none;
}
 .close{
   top:-100vh;
} 
.hidden{
    display:none;
}
.open{display:flex}